* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(103, 161, 203);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myCanvas {
  border: 5px solid rgb(161, 72, 80);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#myScore {
  margin-top: 1rem;
}

#myScore,
#myScore2 {
  color: rgb(199, 212, 201);
  font-size: 1.5rem;
  padding: 3px;
}

#Start {
  padding: 0.25rem 0.5rem;
  background-color: rgb(106, 198, 221);
  font-size: 1.15rem;
  display: block;
  margin-top: 15px;
}
